body{
    background: #000 url(ip.jpg) no-repeat;
    background-size: cover;
    width: 90%; /* Szerokość kontenera jako 90% szerokości okna przeglądarki */
    max-width: 1200px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wycentrowanie kontenera */
    padding: 20px; /* Dodanie wewnętrznych odstępów */
}

@media (max-width: 500px) {
    .container {
        width: 95%; /* Dla mniejszych ekranów zmniejszamy szerokość kontenera */
    }
}
.stopka {
    display: flex;
    justify-content: space-between; /* Umieszcza elementy na krańcach kontenera */
    align-items: center; /* Wyrównuje elementy w pionie */
    background-color: blue;
    color: white;
    padding: 20px;
}

.logo {
    flex: 1;
}

.logo h1 b i a{
    color: white;
    text-decoration: none; 
}

.links {
    display: flex;
    flex: 2; /* Dostosowuje szerokość kolumn linków */
}

.links > div {
    margin-right: 20px; /* Dodaje odstęp między kolumnami */
}

.newsletter {
    flex: 1; /* Dostosowuje szerokość kolumny newslettera */
}