body{
    background: #000 url(ip.jpg) no-repeat;
    background-size: cover;
    width: 90%; /* Szerokość kontenera jako 90% szerokości okna przeglądarki */
    max-width: 1200px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wycentrowanie kontenera */
    padding: 20px; /* Dodanie wewnętrznych odstępów */
}

@media (max-width: 500px) {
    .container {
        width: 95%;
    }
}
.stopka {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: blue;
    color: white;
    padding: 20px;
}

.logo {
    flex: 1;
}

.logo h1 b i a{
    color: white;
    text-decoration: none; 
}

.links {
    display: flex;
    flex: 2;
}

.links > div {
    margin-right: 20px; 
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
}

.links .fstl h2{
    margin-right: 70px;
}

.links .scdl h2{
    margin-left: 50px;
}

.newsletter {
    flex: 1;
}