body{
    background: #000 url(ip.jpg) no-repeat;
    background-size: cover;
    width: 90%; /* Szerokość kontenera jako 90% szerokości okna przeglądarki */
    max-width: 1200px; /* Maksymalna szerokość kontenera */
    max-height: 2000px;
    margin: 0 auto; /* Wycentrowanie kontenera */
    padding: 20px; /* Dodanie wewnętrznych odstępów */
}

@media (max-width: 768px) {
    .container {
        width: 95%; /* Dla mniejszych ekranów zmniejszamy szerokość kontenera */
    }
}